* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #2c3350;
    /* background-color: #eef3f8; */
}


h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    color: #4D4637;
    /* display: flex; */
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #89B6A5;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    margin-left: 2px;
    font-weight: bold;
    /* display: inline-block; */
}

input[type=submit] {
    background-image: linear-gradient(135deg, #fcac12 10%, #f05128 100%);
    /* background-color: #2c3350; */
    font-weight: bold;
    color: white;
    margin-top: 6px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* input[type=submit]:hover{
   background-color: #686888 ;
} */

.container {
    border-radius: 5px;
    width: 75vw;
    margin: auto;
    /* background-color: red; */
    background-color: #fffbe8;
    padding: 20px;
    margin-top: 10vh;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

option {
    color: #4D4637;
    font-weight: 500;
}

.col-100 {

    width: 50%;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
    font-size: large;
    font-weight: bold;
}

pre {
    overscroll-behavior-x: auto;
    overflow-x: scroll;
    margin-top: 20px;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout  */
@media screen and (max-width: 600px) {

    .col-25,
    .col-100,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}