<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../static/images/logo.png" />
  <title>Ascii art web</title>
</head>

<body>
  <header>

    <nav>
      <div class="navbar">
        <div class="logo">
          <!-- - <img src="images/logo.png" alt="">- -->
        </div>
        <ul class="logo">
          <li><a href="http://localhost:8080">Home</a></li>
          <li><a href="https://www.zone01dakar.sn/">Zone01 Dakar</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <h1>Ascii Art Web</h1>
    <form action="/ascii-art" method="POST">

      <div class="row">
        <!-- <ul>
          <h3>Usage:</h3>
          <li>Write your text in the textarea</li>
          <li>Select your banner</li>
          <li>Click on the button Submit</li>
        </ul> -->
        <div class="col-75">
        </div>
      </div>
      <div class="row">
        <div class="col-75">
          <textarea type="text" name="inputValue" placeholder="Your text"></textarea>
        </div>
      </div>
      <div class="row" id="row-25">
        <div class="col-25">
          <label for="banner">Choise banner</label>
          <select id="banner" name="banner">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
          </select>
        </div>
        <div class="submit">
          <input type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-100">
      <pre>{{.Output}}</pre>
    </div>
  </div>
</body>

</html>