<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/styleIndex.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../static/images/logo.png" />
  <title>Ascii art web</title>
</head>

<body>
  <main>
    <nav>
      <div class="navbar">
        <div class="logo">
          <!-- - <img src="images/ZONE01-DAKAR-HORIZON-FOND-NOIR.png" alt="">- -->
        </div>
        <ul class="logo">
          <li><a href="https://www.zone01dakar.sn/">Zone01 Dakar</a></li>
        </ul>
      </div>
    </nav>

    <div class="content">
      <div class="text-content">
        <div class="text">Welcome to</div>
        <div class="name">Ascii art web</div>
        <div class="text1">Project</div>
        <div class="typing">
          <div class="typing-text">
            <span>Happy</span>
            <span class="one">To see you 😇.</span>
          </div>
        </div>
        <form action="/ascii-art" class="buttons" method="POST">
          <button name="about" value="about">About</button>
          <button name="banner" value="standard">Let Start</button>
        </form>
      </div>
      <div class="about">
        <h3> {{.title}} </h3>
        <p>{{.text}}</p>
      </div>
    </div>
  </main>
</body>

</html>